.btn-like,.hot-label {
  top: 10px;
  position: absolute
}

.btn-like,.result .featured .btn-like {
  opacity: 1
}

.btn-primary,.hot-label {
  font-weight: 600;
  border-radius: 2px
}

.btn-like a,.btn-primary,.hot-label {
  border-radius: 2px
}

.featured .overlay .address,.featured .overlay .heading {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}

.btn-like a,.btn-primary {
  text-align: center;
  width: 100%
}

.box-right .total-pay .inner .value,.featured .overlay .heading {
  font-family: Tiempos,Arial,Helvetica,sans-serif
}

.hot-label {
  left: 10px;
  background: #ea1e12;
  color: #fff;
  width: auto;
  padding: 2px 10px 0;
  font-size: 12px;
  text-transform: uppercase
}

.btn-like {
  right: 10px;
  width: 32px;
  height: 32px;
  display: table;
  z-index: 99;
  transition: opacity .5s ease-out
}

.btn-like a {
  background-color: rgba(48,51,58,.2);
  color: #fff;
  display: block;
  height: 100%
}

.btn-like a .zmdi {
  line-height: 32px;
  padding: 0
}

.btn-like a.liked,.btn-like a:hover {
  background: #00a6bd
}

.btn-primary {
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  font-size: 16px;
  min-width: fit-content;
  min-width: -moz-min-content;
  max-width: -moz-max-content;
  // padding: 0 20px;
  white-space: nowrap
}

.btn-large {
  height: 50px;
  line-height: 50px
}

.btn-medium {
  height: 40px;
  line-height: 40px
}

.btn-black {
  color: #fff;
  background: #30333a
}

.btn-black-outline {
  color: #30333a;
  background: 0 0;
  border: 1px solid rgba(48,51,58,.314)
}

.btn-black-outline:hover {
  color: #fff;
  background: #30333a
}

.btn-red {
  color: #fff;
  background: #c72528
}

.btn-red:hover {
  color: #fff;
  background: rgba(199,37,40,.86)
}

.featured .overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,.9));
  color: #fff;
  padding: 20px
}

.featured .overlay .heading {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 0;
  line-height: 18px;
  height: 18px
}

.featured .overlay .heading a {
  color: #fff
}

.featured .overlay .address {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  width: 100%
}

.featured .overlay .address a {
  color: rgba(255,255,255,.86)
}

.featured .overlay .sale-price {
  display: block;
  overflow: hidden;
  color: rgba(255,255,255,.86);
  font-size: 14px;
  line-height: 1.29;
  margin-top: 8px
}

.featured .overlay .sale-price span {
  display: block;
  float: left
}

.featured .overlay .sale-price span::after {
  content: "";
  width: 1px;
  height: 10px;
  background: rgba(255,255,255,.86);
  display: inline-block;
  margin: 0 15px
}

.contact-form-group,.tool-box {
  width: 100%
}

.featured .overlay .sale-price span:last-child::after {
  display: none
}

.featured .overlay .sale-price span strong {
  color: #fff
}

.contact-form-group li {
  border-top: solid 1px rgba(48,51,58,.1);
  height: 50px;
  line-height: 50px;
  padding-left: 85px
}

.contact-form-group li a {
  color: #337588;
  font-size: 16px
}

.contact-form-group li a .zmdi {
  font-size: 22px;
  vertical-align: middle;
  padding-right: 10px
}

.loan-tool-block .header {
  font-size: 16px;
  font-weight: 400;
  color: rgba(68,76,89,.86);
  margin-bottom: 25px
}

.tool-box {
  display: flex;
  border-radius: 2px;
  border: 4px solid #f4f4f4
}

.tool-box .col {
  padding: 30px;
  width: 50%;
  float: left
}

.box-left .row {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative
}

.box-left .row .label {
  display: block;
  width: 100%;
  font-size: 14px;
  color: rgba(68,76,89,.7)
}

.box-left .row .calc-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px
}

.box-left .row .calc-wrapper .range {
  display: block;
  width: calc(100% - 95px);
  float: left
}

.box-left .row .calc-wrapper .range input[type=range]::-webkit-slider-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 3px solid #444c59;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none
}

.box-left .row .calc-wrapper .range .calc-slider {
  display: block;
  visibility: visible;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  outline: 0;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background-image: linear-gradient(90deg,rgba(68,76,89,1) 0,rgba(68,76,89,1) 50%,rgba(131,131,131,.15) 50%)
}

.box-left .row .calc-wrapper .input-group {
  display: block;
  width: 75px;
  height: 36px;
  margin-left: 20px;
  float: left;
  border-radius: 2px;
  border: 1px solid rgba(131,131,131,.3)
}

.box-left .row .calc-wrapper .input-group .calc-input {
  height: 100%;
  width: 100%;
  display: block;
  visibility: visible;
  border: 0;
  outline: 0;
  font-size: 14px;
  padding: 10px
}

.box-left .row .calc-wrapper .dropdown {
  width: calc(100% - 95px);
  float: left;
  position: relative
}

.box-left .row .calc-wrapper .dropdown .link {
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  border: 1px solid rgba(131,131,131,.3)
}

.box-left .row .calc-wrapper .dropdown .link .zmdi {
  float: right;
  font-size: 18px;
  color: #444c59;
  padding: 0;
  line-height: 36px
}

.box-left .row .calc-wrapper .dropdown .dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
  padding: 10px 0;
  border: 1px solid rgba(131,131,131,.3)
}

.box-left .row .calc-wrapper .dropdown .dropdown-list li {
  height: 40px;
  line-height: 40px;
  padding: 0 10px
}

.box-left .row .calc-wrapper .dropdown .dropdown-list li:hover {
  background: #f3f4f7
}

.box-left .row .option-group {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex
}

.box-left .row .option {
  width: 50%;
  margin-right: 15px
}

.box-left .row .option:last-child {
  margin-right: 0
}

.box-left .row .option input[type=radio] {
  width: 14px;
  height: 14px;
  float: left;
  display: block;
  visibility: visible;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: 0 0
}

.box-left .row .option input[type=radio]:focus {
  border: 0!important;
  outline: 0!important
}

.box-left .row .option input[type=radio]::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 2px solid #444c59;
  border-radius: 50%;
  box-sizing: border-box
}

.box-left .row .option input[type=radio]::after {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 8px;
  left: 4px;
  border-radius: 50%
}

.box-left .row .option input[type=radio]:checked::after {
  background: #444c59
}

.box-left .row .option label {
  padding: 0 0 0 15px;
  display: block;
  width: calc(100% - 14px);
  float: left;
  line-height: 1.3;
  font-size: 14px;
  color: #444c59
}

.box-left .row>a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
  height: 100%
}

.box-left .row .option label::before {
  display: none
}

.box-left .row .btn-primary {
  margin: 0;
  max-width: 100%
}

.box-left .row .calc-wrapper .input-group .calc-input:focus,.box-left .row .calc-wrapper .range .calc-slider:focus {
  border: 0!important;
  outline: 0
}

.box-right {
  background: #f3f4f7
}

.box-right h2 {
  font-size: 20px;
  font-weight: 500;
  color: #30333a;
  margin-bottom: 20px;
  display: block
}

.box-right .chart-box {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid rgba(48,51,58,.2)
}

.box-right .chart-box .chart-description {
  position: relative;
  justify-content: space-between;
  width: 50%;
  padding-left: 30px
}

.box-right .chart-box .chart-description .chart-legend {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-bottom: 15px
}

.box-right .chart-box .chart-description .chart-legend:last-child {
  margin-bottom: 0
}

.box-right .chart-box .chart-description .chart-legend .label {
  font-size: 14px;
  color: rgba(68,76,89,.7);
  height: 14px;
  line-height: 14px
}

.box-right .chart-box .chart-description .chart-legend .value {
  font-size: 14px;
  font-weight: 600
}

.box-right .chart-box .chart-description .chart-legend .value.color1 {
  color: #6975c8
}

.box-right .chart-box .chart-description .chart-legend .value.color2 {
  color: #4ab5c1
}

.box-right .chart-box .chart-description .chart-legend .value.color3 {
  color: #ce68a5
}

.box-right .chart-box .chart1 {
  width: 50%;
  position: relative
}

.box-right .chart-box .chart1 .estimate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center
}

.box-right .chart-box .chart1 .estimate .estimate-value {
  font-size: 30px;
  font-weight: 600;
  color: #30333a;
  line-height: .7
}

.box-right .chart-box .chart1 .estimate .estimate-value span {
  font-size: 20px;
  font-weight: 500
}

.box-right .total-pay {
  padding: 25px 0;
  border-top: 1px solid rgba(48,51,58,.2);
  border-bottom: 1px solid rgba(48,51,58,.2)
}

.box-right .total-pay .inner {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center
}

.box-right .total-pay .inner .label {
  max-width: 90px;
  font-size: 14px;
  line-height: 1.3;
  color: rgba(48,51,58,.7);
  margin-right: 10px
}

.box-right .total-pay .inner .value {
  font-size: 30px;
  color: #30333a
}

.box-right .down-payment {
  display: flex;
  flex-flow: row wrap;
  margin-top: 25px
}

.box-right .down-payment .btn-primary {
  max-width: 100%;
  border: 0;
  outline: 0;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px
}

.box-right .down-payment a {
  color: rgba(51,117,136,.86);
  margin-bottom: 15px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  vertical-align: unset;
  display: flex;
  align-items: baseline
}

.box-right .down-payment a:last-child {
  margin-bottom: 0
}

.box-right .down-payment a .zmdi {
  padding-right: 8px;
  font-size: 18px
}

@media only screen and (min-width: 320px) and (max-width:1024px) {
  .tool-box {
      flex-flow:column nowrap
  }

  .tool-box .col {
      width: 100%
  }

  .box-left .row .btn-primary {
      margin: 0 auto
  }

  .box-right h2 {
      display: none
  }

  .box-right .chart-box {
      flex-flow: column-reverse nowrap;
      border: 0;
      padding-top: 0
  }

  .box-right .chart-box .chart1 {
      margin-bottom: 30px;
      order: 1
  }

  .box-right .chart-box .chart-description {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      padding: 0
  }

  .box-right .chart-box .chart-description .chart-legend {
      width: 50%;
      flex-flow: row wrap;
      padding-right: 30px;
      align-items: center
  }

  .box-right .chart-box .chart-description .chart-legend .label {
      padding-right: 10px
  }

  .box-right .down-payment a {
      width: 50%;
      margin-bottom: inherit
  }
}

@media only screen and (min-width: 320px) and (max-width:375px) {
  .box-right .chart-box .chart-description .chart-legend {
      width:100%;
      padding: 0;
      justify-content: space-between
  }

  .box-right .chart-box .chart1 {
      width: 65%
  }
}

@media only screen and (min-width: 320px) and (max-width:480px) {
  .tool-box .col {
      padding:30px 20px
  }

  .box-left .row>a {
      display: block
  }

  .box-left .row .option input[type=radio]::after {
      top: 4px
  }

  .box-left .row .btn-primary {
      max-width: 100%
  }

  .box-right {
      display: none
  }

  .box-right .down-payment a {
      width: 100%;
      margin-bottom: 10px
  }
}


/* Ion.RangeSlider
// css version 2.0.3
// © 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/

/* =====================================================================================================================
// RangeSlider */

.irs {
	position: relative; display: block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}
	.irs-line {
		position: relative; display: block;
		overflow: hidden;
		outline: none !important;
	}
		.irs-line-left, .irs-line-mid, .irs-line-right {
			position: absolute; display: block;
			top: 0;
		}
		.irs-line-left {
			left: 0; width: 11%;
		}
		.irs-line-mid {
			left: 9%; width: 82%;
		}
		.irs-line-right {
			right: 0; width: 11%;
		}

	.irs-bar {
		position: absolute; display: block;
		left: 0; width: 0;
	}
		.irs-bar-edge {
			position: absolute; display: block;
			top: 0; left: 0;
		}

	.irs-shadow {
		position: absolute; display: none;
		left: 0; width: 0;
	}

	.irs-slider {
		position: absolute; display: block;
		cursor: pointer;
		z-index: 1;
	}
		.irs-slider.single {

		}
		.irs-slider.from {

		}
		.irs-slider.to {

		}
		.irs-slider.type_last {
			z-index: 2;
		}

	.irs-min {
		position: absolute; display: block;
		left: 0;
		cursor: default;
	}
	.irs-max {
		position: absolute; display: block;
		right: 0;
		cursor: default;
	}

	.irs-from, .irs-to, .irs-single {
		position: absolute; display: block;
		top: 0; left: 0;
		cursor: default;
		white-space: nowrap;
	}

.irs-grid {
	position: absolute; display: none;
	bottom: 0; left: 0;
	width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
	display: block;
}
	.irs-grid-pol {
		position: absolute;
		top: 0; left: 0;
		width: 1px; height: 8px;
		background: #000;
	}
	.irs-grid-pol.small {
		height: 4px;
	}
	.irs-grid-text {
		position: absolute;
		bottom: 0; left: 0;
		white-space: nowrap;
		text-align: center;
		font-size: 9px; line-height: 9px;
		padding: 0 3px;
		color: #000;
	}

.irs-disable-mask {
	position: absolute; display: block;
	top: 0; left: -1%;
	width: 102%; height: 100%;
	cursor: default;
	background: rgba(0,0,0,0.0);
	z-index: 2;
}
.lt-ie9 .irs-disable-mask {
	background: #000;
	filter: alpha(opacity=0);
	cursor: not-allowed;
}

.irs-disabled {
	opacity: 0.4;
}


.irs-hidden-input {
	position: absolute !important;
	display: block !important;
	top: 0 !important;
	left: 0 !important;
	width: 0 !important;
	height: 0 !important;
	font-size: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	outline: none !important;
	z-index: -9999 !important;
	background: none !important;
	border-style: solid !important;
	border-color: transparent !important;
}


/* Ion.RangeSlider, Nice Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-slider {
    background: url(../images/sprite-skin-nice.png) repeat-x;
}

.irs-bar-edge,
.irs-line-mid,
.irs-line-left,
.irs-line-right {
	background-color: #EEE;
	border-radius: 100px;
}

.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 8px; top: 25px;
}
    .irs-line-left {
        height: 8px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 8px;
        background-position: 0 0;
    }
    .irs-line-right {
        height: 8px;
        background-position: 100% -30px;
    }

.irs-bar {
    height: 8px;
    top: 25px;
    background-color: $theme-color;
    border-radius: 100px
}
    .irs-bar-edge {
        top: 25px;
        height: 8px;
        width: 11px;
        background-position: 0 -90px;
    }

.irs-shadow {
    height: 8px;
    top: 25px;
    background: rgba(0,0,0,0.9);
    opacity: 0.15;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=15);
}

.irs-slider {
    width: 22px; height: 22px;
    top: 17px;
    background-position: 0 -120px;
}

.irs-min, .irs-max {
    color: #999;
    font-size: 11px;
    line-height: 1.333;
    text-shadow: none;
    top: -8px;
    padding: 3px;
    background: rgba(0,0,0,0.05);
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.irs-from, .irs-to, .irs-single {
    color: #FFF;
    top: -8px;
    font-size: 11px;
    line-height: 1.333;
    text-shadow: none;
    padding: 3px;
    background: $theme-color;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.irs-from:after, .irs-single:after, .irs-to:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: $theme-color;
}

.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single { background: #DDD; }

.irs-grid-pol { background: #AAA; }
.irs-grid-text { color: #AAA }

.irs-disabled { }




.btn-medium[data-v-desmond] {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.input-group[data-v-desmond] {
  position: relative;
}
.input-group .calc-input[data-v-desmond] {
  padding-right: 22px !important;
}
.input-group .calc-input.mlg[data-v-desmond] {
  padding-right: 32px !important;
}
.input-group .unit[data-v-desmond] {
  position: absolute;
  right: 6px;
  top: 0;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  color: #838790;
  width: auto;
}
.input-group .unit[data-v-desmond]::before,
.input-group .unit[data-v-desmond]::after {
  display: none;
}
@media only screen and (max-width: 1024px) and (min-width: 320px) {
.render-chart[data-v-desmond] {
    width: 100% !important;
}
}






















.slider-container {
  width: 100%;
  // height: 35px;
}


// .slider-container .irs .irs-line,
// .slider-container .irs .irs-bar,
// .slider-container .irs .irs-bar-edge {
//   height: 2px;
//   top: 28px;
// }
// .slider-container .irs .irs-slider {
//   top: 6px;
//   width: 24px;
//   height: 24px;
//   border-radius: 50%;
//   background: #fff;
//   border: 3px solid #444c59;
// }
// .slider-container .irs .irs-slider:hover,
// .slider-container .irs .irs-slider.state_hover {
//   top: 4px;
//   width: 28px;
//   height: 28px;
//   margin-left: -2px;
// }
// .slider-container .irs .irs-from,
// .slider-container .irs-to,
// .slider-container .irs-single {
//   font-size: 12px;
//   padding: 1px 4px;
// }
// .slider-container .range-slider-container,
// .slider-container .range-slider-container .irs {
//   height: 35px;
// }
// .slider-container .irs .irs-line,
// .slider-container .irs .irs-bar,
// .slider-container .irs .irs-bar-edge {
//   top: 15px;
//   height: 5px;
//   background: rgba(131, 131, 131, 0.15);
//   border: none;
// }
// .slider-container .irs .irs-bar,
// .slider-container .irs .irs-bar-edge {
//   background: #444c59
// }


.box-left .row .calc-wrapper .input-group{
  width: 100px;
}