body.stretched #header.full-header .container {
  max-width: 1500px;
}

#primary-menu {
  float: none;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}

#primary-menu > ul {
  margin: 0 auto;
  float: none;
  display: inline-block;
}

#primary-menu ul > li.current {
  a {
    color: $second-color;
  }
}

.primary-call {
  // float: right;
  display: block;
}

.quote-ribbon {
  position: relative;
  width: 180px;
}

.ctabutton {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.kl-cta-ribbon {
  background-color: #ed3237;
}

.ctabutton {
  position: relative;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  // text-align: center;
  padding: 6px 10px 6px 35px;
  border-radius: 2px;
  margin-left: 20px;

  display: block;
  &:hover,
  &:focus {
    color: white;
    background: darken(#ed3237, 10%);
    &:after {
      content: "";

      background: darken(#ed3237, 10%);
    }
  }
}

.phonecall-animation {
  position: absolute;
  width: 44px;
  height: 44px;
  left: -22px;
  top: 50%;
  margin-top: -22px;
}

.phonecall-ring {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #ed3237;
  opacity: 0.1;
  -webkit-animation: phonecall-ring-anim 1.2s infinite ease-in-out;
  animation: phonecall-ring-anim 1.2s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.7;
}

.phonecall-ring-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ed3237;
  border-radius: 100% !important;
  -webkit-animation: phonecall-ring-circle-anim 2.3s infinite ease-in-out;
  animation: phonecall-ring-circle-anim 2.3s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.phonecall-icon {
  position: relative;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  font-size: 28px;
  color: #ed3237;
  border: 1px solid #ed3237;
  background: #fff;
  z-index: 1;
  -webkit-animation: phonecall-icon-anim 1s infinite ease-in-out;
  animation: phonecall-icon-anim 1s infinite ease-in-out;
}

.ctabutton strong {
  font-size: 18px;
  font-weight: bold;
  display: block;
  // vertical-align: middle;
  // line-height: 24px;
}

.ctabutton:after {
  content: "";
  height: 100%;
  width: 22px;
  z-index: 1;
  background: #ed3237;
  position: absolute;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  right: -10px;
  top: 0;
  z-index: -1;
}

#wrapper {
  // overflow-x: hidden;
}

@keyframes phonecall-icon-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }

  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }

  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes phonecall-ring-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(1.1) skew(1deg);
    transform: rotate(0) scale(1.1) skew(1deg);
    opacity: 0.2;
  }

  50% {
    -webkit-transform: rotate(0) scale(1.3) skew(1deg);
    transform: rotate(0) scale(1.3) skew(1deg);
    opacity: 0.2;
  }

  100% {
    -webkit-transform: rotate(0) scale(1.1) skew(1deg);
    transform: rotate(0) scale(1.1) skew(1deg);
    opacity: 0.2;
  }
}

.container-fluid {
  max-width: 1500px;
}

.container-max {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.hero {
  position: relative;
  padding: 40px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  // &:after {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   background: rgba($theme-color, 0.5);
  //   z-index: 1;
  // }
}

.hero-content {
  padding: 20px 0;
}

.hero-content-txt3 {
  font-size: 16px;
}

.hero-content-txt1 {
  color: $second-color;
}

.hero-content-txt2 {
}

.hero-form {
  background: rgba($second-color, 0.8);
  padding: 15px 30px 0;
  max-width: 400px;
  margin: 0 auto;

  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    left: -5px;
    top: -5px;
    border: 1px solid rgba($second-color, 0.8);
    background: transparent;
    z-index: -1;
  }
}

.hero-form-heading {
  background: lighten($theme-color, 10%);
  padding: 10px 10px;
  text-align: center;
  border-radius: 5px;

  margin-left: -70px;
  margin-right: -70px;
  margin-bottom: 20px;
  box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.38);
}

.hero-form-chietkhau {
  background: darken($theme-color, 2%);
  margin-bottom: 20px;
  font-size: 16px;
  color: white;
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;
  padding: 7px 10px;
  font-weight: bold;
  box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.34);
}

.hero-form-price {
  background: lighten($theme-color, 10%);
  border-radius: 40px;
  padding: 5px 30px;
  font-size: 20px;
  box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.38);

  display: inline-flex;
  transform: translate3d(0, 50%, 0);
  .txt1 {
    line-height: 1.2;
  }
  .txt2 {
    margin: 0 8px;
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    position: relative;
    top: -2px;
  }
  .txt3 {
    line-height: 1.2;
    span {
      border-top: 1px solid white;
      display: block;
    }
  }
}

.hero-form-price-container {
  margin-top: -30px;
}

.col {
  min-width: 0;
}

.hero-form-list {
  font-size: 16px;
  color: $theme-color;
  margin-bottom: 15px;
}

.hero-txt1 {
  color: $theme-color;
  text-align: center;
}

.hero-txt2 {
  color: white;
}

.hero-txt3 {
  color: $second-color;
  font-weight: bold;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-form {
  position: relative;
  z-index: 2;
}

.izu {
  padding: 50px 0;
  background: white;
  .portfolio-overlay a {
    margin: -28px 0 0 -28px;
  }
}

.izu-white {
  background: white;
}

.izu-dark {
  color: white;
  background: $theme-color;

  .izu-title {
    color: white;
    span {
      color: white;
    }

    &:after {
      background: lighten($theme-color, 10%);
    }
  }
}

.izu-title {
  color: gray("900");
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 50px;
  span {
    color: gray("900");
  }
  &:after {
    content: "";
    width: 250px;
    height: 1px;
    background: gray("900");
    position: absolute;
    left: 50%;
    margin-left: -125px;
    bottom: 0;
  }
}

.izu-title2 {
  color: gray("900");
  padding-bottom: 0;
  position: relative;
  margin-bottom: 50px;
  span {
    position: relative;
    z-index: 2;
    color: gray("900");
    background: white;
    display: inline-block;
    padding: 3px 20px;
  }
  &:after {
    content: "";
    width: 100%;
    height: 1px;
    background: $theme-color;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
  }
}

.font-family-normal {
  font-family: $font-family-sans-serif;
}

.yuno {
  font-size: 14px;
  margin-bottom: 20px;
}

.yuno-icon {
  width: 55px;
  height: 55px;
  margin-right: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border: 1px solid $theme-color;
  border-radius: 5px;
  color: $theme-color;
  // margin-bottom: 30px;
}

.yuno-txt1 {
}

.yuno-txt2 {
  line-height: 1.3;
}

.gef-container {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gef-item {
  margin-bottom: 20px;
}

.gef-item-content {
  max-width: 200px;
  line-height: 1.3;
  text-align: right;
  .badge {
    padding: 5px 15px;
  }
  margin-right: 10px;
  margin-left: auto;
}

.gef-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.gef-item-right {
  .gef-item-content {
    margin-right: auto;
    margin-left: 10px;
    text-align: left;
  }
}

.gef-circle {
  position: relative;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid rgba(white, 0.6);
}

#header.full-header #primary-menu > ul {
  margin-right: 0;
  padding-right: 0;
}

.primary-menu-col {
  background: #007baf;
}

@include media-breakpoint-down(md) {
  .ctabutton strong {
    display: none;
  }
  .ctabutton:after {
    display: none;
  }
  .ctabutton {
    width: 44px;
    padding: 0;
    margin-left: auto;
  }
  .quote-ribbon {
    width: 44px;
  }

  .primary-menu-col {
    order: 3;
    width: 100%;
    flex: 1 1 100%;
  }

  .hero-form-heading {
    margin-left: -35px;
    margin-right: -35px;
  }

  .hero-form {
    padding: 15px 20px 0;
    max-width: 350px;
    margin: 0 auto;
  }
  .gef-icon {
    width: 40px;
    height: 40px;

    font-size: 20px;
  }

  .yuno-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;

    font-size: 20px;
  }
}

#primary-menu ul li > a {
  display: block;
  line-height: 22px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  &:hover {
    color: $second-color
  }
}

.position-content {
  padding-top: 35px;
}

.container-bg-blue {
  background-color: #007baf;
  height: 41px;
}

@include media-breakpoint-down(lg) {
  #primary-menu ul li > a {
    display: block;
    line-height: 22px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: none;
    font-family: "EB Garamond", serif;
    -webkit-transition: margin 0.4s ease, padding 0.4s ease;
    transition: margin 0.4s ease, padding 0.4s ease;
  }
}

.payon-bg {
  position: relative;
  padding: 30px 0 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($theme-color, 0.5);
    z-index: 1;
  }

  background-attachment: fixed;

  @include media-breakpoint-down(md) {
    background-size: cover;
    background-attachment: initial;
  }
}

.payon-content {
  position: relative;
  z-index: 2;
}

.payon-slider-item {
  position: relative;
  display: block;
}

.payon-sub {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px 10px;
  text-align: center;
  font-size: 17px;
  line-height: 1.3;
  bottom: 0;
  left: 0;
  right: 0;
  @include media-breakpoint-down(sm) {
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
  }
}

.owl-dots {
}

.owl-nav .owl-prev,
.owl-nav .owl-next,
.owl-dot,
.owl-dots button {
  background: transparent;
  border: none;
  outline: none;
}

.owl-carousel .owl-dots .owl-dot span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  opacity: 1;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
  background: white;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    border: 1px solid rgba(white, 0.8);
    border-radius: 50%;
    background: transparent;
    z-index: -1;
  }
}

.owl-carousel .owl-nav [class*="owl-"] {
  border: none;
  background: transparent;
  &:hover {
  }
}

.owl-carousel .owl-nav [class*="owl-"]:hover {
  background-color: transparent !important;
  color: #fff !important;
  text-decoration: none;
}

.owl-carousel .owl-nav [class*="owl-"] {
  opacity: 1;
}

.owl-carousel .owl-nav .owl-next {
  left: auto;
  right: -50px;
}

.owl-carousel:hover .owl-nav .owl-next {
  left: auto;
  right: -50px;
}

.owl-carousel .owl-nav .owl-prev {
  right: auto;
  left: -50px;
}

.owl-carousel:hover .owl-nav .owl-prev {
  right: auto;
  left: -50px;
}

ul.tab-nav li a {
  padding: 0 20px;
  min-width: 120px;
}

ul.tab-nav li a {
}

ul.tab-nav.tab-nav2 li.ui-state-active a {
  position: relative;
  background-color: #29ace4;
}

ul.tab-nav.tab-nav2 li {
  margin-left: 0 !important;
  a {
    border-radius: 0;
    background-color: #007baf;
    color: white;
    box-shadow: none;
    padding: 0 60px;
  }
}

.text-black {
  color: black;
}

.img-full {
  width: 100% !important;
}

.content-banner {
  background-color: rgba(#fbe569, 0.8);
  padding: 40px 30px;
  margin-top: 40px;
  position: relative;
  border-radius: 5px;
  border: 3px solid white;
  @include media-breakpoint-down(lg) {
  padding: 10px;
  }
}

.content-header-move{
  margin-top: -65px;
  margin-bottom: 25px;

  @include media-breakpoint-down(lg) {
    margin-top: -35px;
    margin-bottom: 25px;
  }
}

.content-header {
  display: inline-block;
  background-color: white;
  padding: 0px 40px;
  border-radius: 5px;
  margin: 0;
  //margin-right: -50%;
  h1 {
    color: #009fe3 !important;
  }

  @include media-breakpoint-down(lg) {
    padding: 0px 15px;
    h1 {
      font-size: 30px;
    }
  }

}
.box-register {
  margin-top:40px;
}
.box-title {
  text-decoration: underline;
}

.banner-description {
  background-color: rgba(#007bb0, 0.6);
  margin-top: 80px;
  margin-bottom: -40px;
}

.content-footer {
  position: absolute;
  background-color: #009fe3;
  padding: 5px 30px;
  border-radius: 5px;
  margin: 0;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  max-width: 600px;
  width: 100%;
  @include media-breakpoint-down(lg){
    position: relative;
    margin-top: 10px;
  }
}

.lutie {
  border: 1px solid $theme-color;
  border-radius: 5px;
  padding: 10px 10px 20px;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
  &:hover {
    .lutie-content {
      color: $theme-color;
    }
    .lutie-area {
      color: white;
      background: $theme-color;
    }
  }
}

.lutie-img {
  padding: 0;
}

.lutie-content {
  margin-top: 5px;
  text-align: center;
  color: gray("900");
}

.lutie-area {
  width: 120px;
  padding: 2px 5px;
  border-radius: 3px;
  color: gray("900");
  background: gray("200");
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  bottom: -15px;
  transition: all 0.2s ease;
}

.lutie-list {
  font-size: 14px;
  font-weight: 500;
  .list-group-item {
    padding: 7px 0;
    color: gray("900");
  }
}

.amatsu-bg {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  background-attachment: fixed;

  @include media-breakpoint-down(md) {
    background-size: cover;
    background-attachment: initial;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($theme-color, 0.5);
    z-index: 1;
  }
  > div {
    position: relative;
    z-index: 2;
  }
}

#footer {
  color: white;
  font-size: 13px;
  background: $theme-color;
}

.des-footer {
  padding: 30px 0;
  .social-icon {
    margin: 0 10px 5px 0;
  }
}

.nav-cta {
  position: fixed;
  left: auto;
  top: 150px;
  right: 40px;
  z-index: 99;
  @include media-breakpoint-down(lg) {
    top: 120px;
    right: 30px;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.nav-cta-item {
  background: $theme-color;
  width: 50px;
  height: 50px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 20px;
  img {
    width: 30px;
  }
  &:hover {
    background: lighten($theme-color, 10%);
  }
}

.oc-slider {
  border: 1px solid white;
  padding: 10px;
  .owl-dots {
    display: none;
  }
}

#logo {
  float: none;
  height: 40px;
}

#logo a.standard-logo {
  display: block;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  margin-right: 0;
  background: url("../images/shape1.png") no-repeat;
  padding: 15px 60px 0;
  background-size: 100% auto;
  background-position: center bottom;
}

#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
  padding: 10px 20px;
}

.menu-space {
  width: 280px;
  height: 1px;
}

#primary-menu {
  padding-left: 70px;
}

#header {
  position: relative;
  background-color: transparent;
  border-bottom: none;
}

#logo img {
  height: 75px;
}

  .primary-call {
    position: absolute;
    right: 80px;
    zoom: 0.8;
    top: 7px;
  }
#header {
  margin-bottom: 20px;
}
@include media-breakpoint-down(lg) {
  .menu-space {
    display: none;
  }
  #logo a.standard-logo{
    padding: 2px 20px 0;
  }
  #logo {
    float: none;
    height: 60px;
  }
  #logo img {
    height: 50px !important;
  }
  #header {
    margin-bottom: 40px;
  }
  .primary-call {

    top: 15px;
  }
}

@include media-breakpoint-down(md) {
  #header {
    margin-bottom: 0px;
  }
  .primary-call {
    right: 10px;
    top: 30px;
  }
}

.guarantee{
 border: 1px solid white;
  padding: 5px;
  border-radius: 50%;

  display: inline-block;
  margin: 10px auto;
}
.guarantee-circle{
  background: url("../images/star-bg.png") lighten($theme-color, 10%) no-repeat center center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  .txt1{
    text-align: center;
    font-size: 15px;
  }
  .txt2{
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 45px;
    font-weight: bold;
    color: $second-color;
    line-height: 1;
    /* vertical-align: -10%; */
    padding: 1px 0 4px;
    margin: 3px 0;
  }
}