{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %}


{% block content %}

<style>
    .chart-samples ul { list-style: none; }

    .chart-samples h4 {
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .chart-samples li {
        font-size: 16px;
        line-height: 2.2;
        font-weight: 600;
    }

    .chart-samples li a:not(:hover) { color: #AAA; }
</style>








{% endblock %}






{% block javascript %}

{{ super() }}

<!-- Charts JS
	============================================= -->
<script src="js/chart.js"></script>
<script src="js/chart-utils.js"></script>

<!-- Range Slider Plugin -->
<script src="js/components/rangeslider.min.js"></script>
<script src="js/components/moment.js"></script>


<script>

    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
    };

    var config = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.blue,
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "Cần trả trước : 90",
                "Orange",
                "Yellow",
                "Green",
                "Blue"
            ]
        },
        options: {
            responsive: true,
            cutoutPercentage: 70,
            legend: {
                display: false,
            },

            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    };

    window.onload = function () {
        var ctx = document.getElementById("chart-0").getContext("2d");
        window.myDoughnut = new Chart(ctx, config);
    };

    $(document).ready(function () {


        $(".range_01").ionRangeSlider({
            min: 1,
            max: 10,
            from: 1,
            step: 0.1,
            // hide_from_to: true,

        });

         $(".range_02").ionRangeSlider({
            min: 0,
            max: 80,
            from: 0,
            step: 5,
            // hide_from_to: true,

        });

         $(".range_03").ionRangeSlider({
            min: 0,
            max: 30,
            from: 0,
            step: 5,
            // hide_from_to: true,

        });

    });



</script>


{% endblock %}