{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html lang="vi">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>

    {% block title %} {{ title }} {% endblock %}

  </title>
  <meta name="theme-color" content="#">
  <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css" media="all">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond:500,500i,700,700i&amp;subset=latin-ext,vietnamese"
    rel="stylesheet">

  <link rel="stylesheet" href="stylesheets/core.css">

</head>


<body class="stretched" data-loader="2" data-animation-in="fadeIn" data-speed-in="1500" data-animation-out="fadeOut"
  data-speed-out="800">
  <!-- The Main Wrapper
	============================================= -->
  <div id="wrapper" class="clearfix">

    {% include "layouts/header.html" %}

    {% include "layouts/hero.html" %}

    <section id="content" style="overflow: visible;">



      {% block content %}


      {% endblock %}



    </section>

    <footer id="footer" class="des-footer">

      <div class="container">

        {% include "layouts/footer.html" %}

      </div>



    </footer>




  </div>

  {% block javascript %}

  <!-- <script src="js/jquery.js"></script> -->
  <!-- <script src="js/popper.min.js"></script> -->

  <!-- <script src="javascripts/app.js"></script> -->



  <!-- External JavaScripts
	============================================= -->
  <script src="js/jquery.js"></script>
  <script src="js/plugins.js"></script>
  <!-- <script src="js/ion.rangeSlider.min.js"></script> -->

  <!-- Footer Scripts
	============================================= -->
  <script src="js/functions.js"></script>

  <script src="js/custom.js"></script>

  <script type="text/javascript" src="js/vegas.min.js"></script>

  <script>
    $(function () {
      $("#side-navigation").tabs({ show: { effect: "fade", duration: 400 } });
      var slide = [];

      slide.push({ src: "images/hero/hero-bg.jpg" });

      slide.push({ src: "images/hero/amatsu-bg.jpg" });

      $("#slider").vegas({
        slides: slide,
        timer: false,
        animationDuration: 10000,
        animation: ["fade"]
      });
    });
  </script>



  {% endblock %}

</body>

</html>