<div data-v-desmond="" id="" class="tool-box bg-white">
  <div data-v-desmond="" class="col box-left">
    <div data-v-desmond="" class="row">
      <div data-v-desmond="" class="label">Giá trị nhà đất (tỷ VNĐ)</div>
      <div data-v-desmond="" class="calc-wrapper">
        <div data-v-desmond="" class="slider-container range">

          <input class="range_01" />


        </div>
        <div data-v-desmond="" class="input-group"><input data-v-desmond="" type="number" id="price" class="calc-input">
          <label data-v-desmond="" for="price" class="unit">tỷ</label></div>
      </div>
    </div>
    <div data-v-desmond="" class="row">
      <div data-v-desmond="" class="label">Tỷ lệ vay (%)</div>
      <div data-v-desmond="" class="calc-wrapper">
        <div data-v-desmond="" class="slider-container range">

          <input class="range_02" />


        </div>
        <div data-v-desmond="" class="input-group"><input data-v-desmond="" type="number" id="ratio" class="calc-input">
          <label data-v-desmond="" for="ratio" class="unit">%</label></div>
      </div>
    </div>
    <div data-v-desmond="" class="row">
      <div data-v-desmond="" class="label">Thời hạn vay (năm)</div>
      <div data-v-desmond="" class="calc-wrapper">
        <div data-v-desmond="" class="slider-container range">

          <input class="range_03" />


        </div>
        <div data-v-desmond="" class="input-group"><input data-v-desmond="" type="number" id="term" class="calc-input mlg">
          <label data-v-desmond="" for="term" class="unit">năm</label></div>
      </div>
    </div>
    <div data-v-desmond="" class="row">
      <div data-v-desmond="" class="label">Lãi suất %/năm</div>
      <div data-v-desmond="" class="calc-wrapper">
        <select name="" id="" class="form-control">
          <option value="">Mặc định</option>
          <option value="">ACB</option>
          <option value="">SHB</option>

        </select>
        <div data-v-desmond="" class="input-group"><input data-v-desmond="" type="number" step=".1" id="interest" class="calc-input">
          <label data-v-desmond="" for="interest" class="unit">%</label></div>
      </div>
    </div>
    <div data-v-desmond="" class="row">
      <div data-v-desmond="" class="option-group">
        <div data-v-desmond="" class="option"><input data-v-desmond="" type="radio" id="decrease" name="radio-category"
            value="decrease"> <label data-v-desmond="" for="decrease">
            Thanh toán theo dư nợ giảm dần
          </label></div>
        <div data-v-desmond="" class="option"><input data-v-desmond="" type="radio" id="equal" name="radio-category"
            value="equal"> <label data-v-desmond="" for="equal">
            Thanh toán đều hàng tháng
          </label></div>
      </div>
    </div>
    <div data-v-desmond="" class="row"><button data-v-desmond="" class="btn-primary btn-medium btn-black-outline">Xem
        kết quả</button></div>
  </div>
  <div data-v-desmond="" class="col box-right">
    <h2 data-v-desmond="">Kết quả</h2>
    <div data-v-desmond="" class="chart-box">
      <div data-v-desmond="" class="chart1 render-chart">
        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
          <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
          </div>
          <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
          </div>
        </div>


        <canvas id="chart-0" style="width: 153px; height: 156px; display: block;" width="153" height="156" class="chartjs-render-monitor"></canvas>


        <div data-v-desmond="" class="estimate">
          <div data-v-desmond="" class="estimate-value" style="margin-top: 10px;">
            3.86
            <span data-v-desmond="">tỷ</span></div>
        </div>
        <div id="chartjs-tooltip" class="center" style="opacity: 0; position: absolute; left: 138px; top: 55px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 12px; font-style: normal; padding: 6px;">
          <div class="tooltip-content">
            <div class="tooltip-item">
              <div class="title">Cần trả trước</div>
              <div class="value" style="color: #6975c8">38.9%: 1,500,000,000</div>
            </div>
          </div>
        </div>
      </div>
      <div data-v-desmond="" class="chart-description">
        <div data-v-desmond="" class="chart-legend">
          <div data-v-desmond="" class="label">Cần trả trước:</div>
          <div data-v-desmond="" class="value color1">1,500,000,000</div>
        </div>
        <div data-v-desmond="" class="chart-legend">
          <div data-v-desmond="" class="label">Gốc cần trả:</div>
          <div data-v-desmond="" class="value color2">1,500,000,000</div>
        </div>
        <div data-v-desmond="" class="chart-legend">
          <div data-v-desmond="" class="label">Lãi cần trả:</div>
          <div data-v-desmond="" class="value color3">859,750,000</div>
        </div>
      </div>
    </div>
    <div data-v-desmond="" class="total-pay">
      <div data-v-desmond="" class="inner">
        <div data-v-desmond="" class="label">
          Thanh toán tháng đầu:
        </div>
        <div data-v-desmond="" class="value">
          17,833,333
        </div>
      </div>
    </div>
    <div data-v-desmond="" class="down-payment"><button data-v-desmond="" href="#" class="btn-primary btn-medium btn-red"><i
          data-v-desmond="" class="zmdi zmdi-download"></i>
        Tải bảng thanh toán từng tháng
      </button> <a data-v-desmond="" href="https://blog.rever.vn/quy-trinh-cho-vay-mua-nha-tai-cac-ngan-hang-hien-nay-nhu-the-nao"
        target="_blank"><i data-v-desmond="" class="zmdi zmdi-file-text"></i>
        Xem hướng dẫn vay mua nhà
      </a></div>
  </div>
  <div data-v-415f95f2="" data-v-desmond="" class="modal-mask mdialog" style="display: none;">
    <div data-v-415f95f2="" class="backdrop"></div>
    <div data-v-415f95f2="" class="modal-wrapper">
      <div data-v-415f95f2="" class="modal-container popup-520">
        <div data-v-415f95f2="">
          <div data-v-415f95f2="" class="modal-header">
            <div data-v-415f95f2="" class="header-w-close"><button data-v-415f95f2="" class="close-popup-btn"><i
                  data-v-415f95f2="" class="zmdi zmdi-hc-2x zmdi-close"></i></button>
              <h3 data-v-415f95f2="" class="font-tiempos">Liên hệ</h3>
            </div>
          </div>
          <div data-v-415f95f2="" class="modal-body">
            <div data-v-09e94b91="" class="form-info" action="Gửi thông tin">
              <form data-v-09e94b91="" novalidate="novalidate">
                <p data-v-26ec88e6="" class="form-msg" data-v-09e94b91=""></p>
                <div data-v-235f4a4e="" class="form-element per50-left" data-v-09e94b91=""><input data-v-235f4a4e=""
                    type="text" class="input">
                  <div data-v-235f4a4e="" class="placeholder">Họ</div> <span data-v-235f4a4e="" class="error-text"></span>
                </div>
                <div data-v-235f4a4e="" class="form-element per50-right" data-v-09e94b91=""><input data-v-235f4a4e=""
                    type="text" class="input">
                  <div data-v-235f4a4e="" class="placeholder">Tên</div> <span data-v-235f4a4e="" class="error-text"></span>
                </div>
                <div data-v-235f4a4e="" class="form-element" data-v-09e94b91=""><input data-v-235f4a4e="" type="tel"
                    class="input">
                  <div data-v-235f4a4e="" class="placeholder">Số điện thoại</div> <span data-v-235f4a4e="" class="error-text"></span>
                </div>
                <div data-v-235f4a4e="" class="form-element" data-v-09e94b91=""><input data-v-235f4a4e="" type="email"
                    class="input">
                  <div data-v-235f4a4e="" class="placeholder">Email</div> <span data-v-235f4a4e="" class="error-text"></span>
                </div>
                <div data-v-235f4a4e="" class="form-element" data-v-09e94b91="" style="display: none;"><textarea
                    data-v-235f4a4e="" placeholder=""></textarea>
                  <div data-v-235f4a4e="" class="placeholder">Lời nhắn</div> <span data-v-235f4a4e="" class="error-text"></span></div>
                <div data-v-1c4bc27b="" class="action" data-v-09e94b91=""><button type="submit" class="large-btn-red"
                    data-v-1c4bc27b=""><span class="action-label">Gửi thông tin</span> <span class="action-loading">Đang
                      tải...</span></button></div>
              </form>
              <!---->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</div>