<div class="row">
  <div class="col-12 col-lg-auto">
    <img src="images/hero/logo-goldenland.png" class="img-fluid d-block mx-auto mb-3" width="140" alt="">
  </div>
  <div class="col-12 col-lg">
    <div class="footer-content mb-3">
      <div class="font-weight-bold mb-1">CÔNG TY CỔ PHẦN BĐS GOLDEN LAND</div>
      <div>Lầu 6, tòa nhà 293 Điện Biên Phủ, Phường 15, Q. Bình Thạnh, TPHCM</div>
      <div>Hotline: 0901 867 869</div>
      <div>Email: <a href="mailto:info@goldenlands.vn" class="text-light">info@goldenlands.vn</a> </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-lg-3">
    <div class="font-weight-bold mb-2">
      Kết nối với chúng tôi
    </div>


    <div class="clearfix dark">
      <a href="#" class="social-icon si-small si-rounded si-facebook">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
      </a>

      <a href="#" class="social-icon si-small si-rounded si-youtube">
        <i class="icon-youtube-play"></i>
        <i class="icon-youtube-play"></i>
      </a>

      <a href="#" class="social-icon si-small si-rounded si-gplus">
          <i class="icon-gplus"></i>
          <i class="icon-gplus"></i>
        </a>
    </div>

  </div>
</div>