<!-- Header
		============================================= -->
<header id="header" class=" page-section full-header ">

	<div id="header-wrap">

		<div class="container-max clearfix">
			<div class="row align-items-center">
				<div class="col col-lg  order-lg-1" style="z-index: 1;">
					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
								============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo"><img src="images/logo.png" alt="Safira Logo"></a>
						<a href="index.html" class="retina-logo"><img src="images/logo@2x.png" alt="Safira Logo"></a>
					</div><!-- #logo end -->
				</div>

				<div class="col col-lg-12 order-lg-3 primary-menu-col">

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="">

						<ul class="one-page-menu clearfix" data-offset="50">
							<li class="current"><a href="#section-gioithieu" data-href="#section-gioithieu">
									<div>Giới thiệu</div>
								</a></li>
							<li><a href="#section-vitri" data-href="#section-vitri">
									<div>Vị trí</div>
								</a></li>
							<li><a href="#section-tienich" data-href="#section-tienich">
									<div>Tiện ích</div>
								</a></li>

							<li class="menu-space"></li>

							<li><a href="#section-matbang" data-href="#section-matbang">
									<div>Mặt bằng thiết kế</div>
								</a></li>
							<li><a href="#section-chinhsach" data-href="#section-chinhsach">
									<div>Chính sách bán hàng</div>
								</a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

					<div class="primary-call">
						<div class="quote-ribbon ">
							<a href="tel:0901 867 869" class="ctabutton kl-cta-ribbon" title="Gọi điện">

								<div class="phonecall-animation">
									<div class="phonecall-ring"></div>
									<div class="phonecall-ring-circle"></div>
									<div class="phonecall-icon">

										<i class="icon-phone3"></i>
									</div>
								</div>

								<strong>0901 867 869</strong>

							</a>
						</div>


					</div>
			</div>




		</div>

	</div>

</header><!-- #header end -->


<div class="nav-cta">
	<a href="" class="nav-cta-item pulse animated  infinite" data-toggle="modal" data-target="#modalDangKy">
		<img src="images/hero/google-forms.svg" alt="">
	</a>
	<a href="" class="nav-cta-item pulse animated  infinite">
		<img src="images/hero/telephone.svg" alt="">
	</a>
</div>


<div class="modal fade" id="modalDangKy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;"
 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-body">
			<div class="modal-content">

				<div class="modal-body">
					<form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">

						<h3 class="text-center text-primary">Đăng ký tư vấn</h3>

						<div class="col_full">
							<input type="text" placeholder="Họ và tên:" name="login-form-username" value="" class="form-control not-dark">
						</div>

						<div class="col_full">
							<input type="email" placeholder="Nhập Email:" name="login-form-password" value="" class="form-control not-dark">
						</div>

						<div class="col_full">
							<input type="tel" placeholder="Nhập số điện thoại:" name="login-form-password" value="" class="form-control not-dark">
						</div>


						<div class="text-center">
								<a href="#" class="button button-3d  button-rounded button-blue">HOÀN TẤT ĐĂNG KÝ</a>
						</div>


					</form>





				</div>

			</div>
		</div>
	</div>
</div>