<div class="hero" id="slider">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-md-12 box-register">
				<div class="text-center">
					<h3 class="text-white box-title">ĐĂNG KÝ NHẬN TƯ VẤN</h3>
					<div class="content-banner">
						<div class="text-center content-header-move">
							<div class="content-header">
								<h1 class="hero-content-txt1  font-weight-bold mb-0" data-animate="fadeInUp" data-delay="0">
									SAFARI KHANG ĐIỀN
								</h1>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" class="form-control" id="" placeholder="">
								</div>
								<div class="text-left text-black">
									<i class="fas fa-briefcase"></i> Nhận giữ chỗ thiện chí <strong>50 triệu</strong>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" class="form-control" id="" placeholder="">
								</div>
								<div class="text-left text-black">
									<i class="fas fa-briefcase"></i> Nhận giữ chỗ thiện chí <strong>50 triệu</strong>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" class="form-control" id="" placeholder="">
								</div>
								<div class="text-left text-black">
									<i class="fas fa-briefcase"></i> Nhận giữ chỗ thiện chí <strong>50 triệu</strong>
								</div>
							</div>
						</div>
						<div class="content-footer">
							<span>ĐĂNG KÝ NHẬN NGAY CHIẾT KHẤU 3%</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="banner-description">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-md-8">
					<div class="hero-content">
						<h1 class="hero-content-txt1 h2 font-weight-bold mb-2" data-animate="fadeInUp" data-delay="0">
							SAFARI KHANG ĐIỀN
						</h1>
						<div class="hero-content-txt2 h3 " data-animate="fadeInUp" data-delay="100">
							Một lần chiêm ngưỡng  trọn đời khắc ghi
						</div>
						<div class="hero-content-txt3" data-animate="fadeInUp" data-delay="200">
							Căn hộ cao cấp Safira Khang Điền quận 9 mang trong mình sự bình yên của chốn ven đô. Căn hộ Safira Khang Điền chỉ
							có sự an nhiên và hạnh phúc với những con đường rợp bóng cây xanh, những khu vườn bốn mùa hoa tươi khoe sắc.
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 text-center">
					<div class="guarantee">
						<div class="guarantee-circle">
							<div>
								<div class="txt1">GIÁ CHỈ TỪ</div>
								<div class="txt2">500</div>
								<div class="txt1">TRIỆU / CĂN</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<section class="izu izu-white page-section" id="section-gioithieu">

	<div class="container">
		<h2 class="izu-title h1 text-center" data-animate="fadeInUp" data-delay="0">
			TỔNG QUAN DỰ ÁN
		</h2>

		<div class="row ">
			<div class="col-12 col-md-5 col-lg-12 order-2 order-md-1">

				<article class="portfolio-item pf-icons w-100">
					<div class="portfolio-image">
						<div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide"><a href="portfolio-single-gallery.html"><img src="images/hero/img1.jpg" class="img-thumbnail img-fluid d-block mx-auto"
											 alt="Morning Dew"></a></div>
									<div class="slide"><a href="portfolio-single-gallery.html"><img src="images/hero/img1.jpg" class="img-thumbnail img-fluid d-block mx-auto"
											 alt="Morning Dew"></a></div>
								</div>
							</div>
						</div>
						<div class="portfolio-overlay" data-lightbox="gallery">
							<a href="images/hero/img1.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
							<a href="images/hero/img1.jpg" class="hidden" data-lightbox="gallery-item"></a>
						</div>
					</div>

				</article>


			</div>
		</div>
	</div>
	<div class="izu-blue">
		<div class="container">
			<div class="col-12 col-md-6 col-lg-12 order-1 order-md-2 text-center izu-content">
				<h2 class="font-weight-normal text-white mb-0" data-animate="fadeInUp" data-delay="100">MIỀN SỐNG <strong class="font-italic">LÝ
					TƯỞNG</strong></h2>
				<h2 class="font-weight-normal text-white mb-2" data-animate="fadeInUp" data-delay="200">PHONG THÁI <strong class="font-italic">THƯỢNG
					LƯU</strong></h2>
				<div>
					Safira Khang Điền đẹp như đúng với tên gọi của nó. Safira Khang Điền quận 9 mang đến một cuộc sống tốt đẹp, an
					toàn cùng nhiều tiện ích cao cấp mà chủ đầu tư Khang Điền muốn xây dựng đem đến cho cư dân nơi đây không thể chối
					từ. Từ trong ra đến ngoài căn hộ đều được bao bọc bởi những điều thú vị, đảm bảo cuộc sống của cư dân sẽ được an
					nhiên thư thái.
				</div>

			</div>
		</div>
	</div>

	<div class="container mt-4 pt-4">
		<div class="row">
			{% for item in range(0,8) %}
			<div class="col-6 col-md-3">
				<div class="yuno">
					<div class="row no-gutters">
						<div class="col-auto">
							<div class="yuno-icon">
								<i class="icon-line2-map"></i>
							</div>
						</div>
						<div class="col">
							<div class="yuno-txt1 font-weight-bold text-uppercase mb-1">
								Vị trí
							</div>
							<div class="yuno-txt2">
								256-258 Lý Thường Kiệt, phường 14, Quận 10.$o
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>



<section class="izu izu-dark page-section" id="section-vitri">

	<div class="container">
		<h2 class="izu-title h1 text-center" data-animate="fadeInUp" data-delay="0">
			VỊ TRÍ VÀNG
		</h2>

		<div class="row d-none">
			<div class="col-12 col-lg-8 offset-lg-2 order-1 order-lg-2">

				<div class="gef-circle">
					<div class="embed-responsive embed-responsive-1by1 rounded-circle bg-light ">

						<div class="embed-responsive-item">

						</div>

					</div>
				</div>

			</div>


			<div class="col-6 col-lg-12 order-2 order-lg-1">
				<div class="gef-container">
					{% for item in range(0,5) %}
					<div class="gef-item">
						<div class="row no-gutters">
							<div class="col">
								<div class="gef-item-content">
									<div class="text-right mb-2 font-italic">
										UBND Quận Tân Phú và
										UBND Quận Tân Bình
									</div>
									<div class="text-right">
										<span class="badge badge-light text-primary">Liền kề</span>
									</div>
								</div>


							</div>
							<div class="col-auto">
								<div class="gef-icon">
									<i class="icon-line2-map"></i>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

			</div>

			<div class="col-6 col-lg-4 order-3 order-lg-3">

				<div class="gef-container">
					{% for item in range(0,5) %}
					<div class="gef-item gef-item-right">
						<div class="row no-gutters">

							<div class="col-auto">
								<div class="gef-icon">
									<i class="icon-line2-map"></i>
								</div>
							</div>


							<div class="col">
								<div class="gef-item-content">
									<div class=" mb-2 font-italic">
										UBND Quận Tân Phú và
										UBND Quận Tân Bình
									</div>
									<div class="">
										<span class="badge badge-light text-primary">Liền kề</span>
									</div>
								</div>


							</div>

						</div>
					</div>
					{% endfor %}
				</div>

			</div>

		</div>

		<div class="row">
			<div class="col-12 col-md-12 col-lg-12">

				<div class="embed-responsive embed-responsive-4by3 bg-light  img-thumbnail ">

					<div class="embed-responsive-item">

					</div>

				</div>


			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-12 col-lg-12">
				<div class="text-white font-weight-normal position-content">
					Safira Khang Điền quận 9 mang đến một cuộc sống tốt đẹp, an
					toàn cùng nhiều tiện ích cao cấp mà chủ đầu tư Khang Điền muốn xây dựng đem đến cho cư dân nơi đây không thể chối
					từ. Từ trong ra đến ngoài căn hộ đều được bao bọc bởi những điều thú vị, đảm bảo cuộc sống của cư dân sẽ được an
					nhiên thư thái.
				</div>
			</div>
		</div>
	</div>

</section>





<section class="izu izu-white pb-0 page-section" id="section-tienich">

	<div class="container">
		<h2 class="izu-title h1 text-center mb-3" data-animate="fadeInUp" data-delay="0">
			TIỆN ÍCH
		</h2>


		<h5 class="text-center font-family-normal font-weight-normal mb-3">
			Dự án Sky 9 không chỉ sở hữu một vị trí chiến lược mà còn thừa hưởng một hệ thống tiện ích vượt trội, đảm bảo gây
			bất ngờ cho khách hàng khi lựa chọn. Với mức giá dưới 1 tỷ đồng cho một căn hộ, nhưng các cư dân của dự án Sky 9
			(đặc biệt là tháp Sun Tower) được sử dụng những tiện ích chỉ xuất hiện ở các căn hộ cao cấp
		</h5>
	</div>

	<div class="payon-bg" style="background-image: url('images/hero/payon-bg.jpg')">

		<div class="container-fluid payon-content">
			<div class="row">
				<div class="col-12 col-lg-12 ">
					<section class=" ">

						<div class="container-fluid clearfix">

							<div id="oc-slider" class="owl-carousel carousel-widget oc-slider" data-margin="20" data-items="2" data-animate-in="fadeIn"
							 data-speed="450" data-animate-out="fadeOut" data-lightbox="gallery">

								<a href="images/hero/h1.jpg" title="Trung tâm thương mại, mua sắm" subtitle="6 tầng trung tâm thương mại với diện tích lên đến 60000m2"
								 class="payon-slider-item" data-lightbox="gallery-item">
									<img src="images/hero/h1.jpg" alt="Slider">
									<div class="payon-sub">
										<div class="font-weight-bold">Trung tâm thương mại, mua sắm</div>
										<div>6 tầng trung tâm thương mại với diện tích lên đến 60000m2</div>
									</div>
								</a>
								<a href="images/hero/h1.jpg" title="Trung tâm thương mại, mua sắm" subtitle="6 tầng trung tâm thương mại với diện tích lên đến 60000m2"
								 class="payon-slider-item" data-lightbox="gallery-item">
									<img src="images/hero/h1.jpg" alt="Slider">
									<div class="payon-sub">
										<div class="font-weight-bold">Trung tâm thương mại, mua sắm</div>
										<div>6 tầng trung tâm thương mại với diện tích lên đến 60000m2</div>
									</div>
								</a>
								<a href="images/hero/h1.jpg" title="Trung tâm thương mại, mua sắm" subtitle="6 tầng trung tâm thương mại với diện tích lên đến 60000m2"
								 class="payon-slider-item" data-lightbox="gallery-item">
									<img src="images/hero/h1.jpg" alt="Slider">
									<div class="payon-sub">
										<div class="font-weight-bold">Trung tâm thương mại, mua sắm</div>
										<div>6 tầng trung tâm thương mại với diện tích lên đến 60000m2</div>
									</div>
								</a>
								<a href="images/hero/h1.jpg" title="Trung tâm thương mại, mua sắm" subtitle="6 tầng trung tâm thương mại với diện tích lên đến 60000m2"
								 class="payon-slider-item" data-lightbox="gallery-item">
									<img src="images/hero/h1.jpg" alt="Slider">
									<div class="payon-sub">
										<div class="font-weight-bold">Trung tâm thương mại, mua sắm</div>
										<div>6 tầng trung tâm thương mại với diện tích lên đến 60000m2</div>
									</div>
								</a>

							</div>

						</div>

					</section>
				</div>
			</div>

		</div>



	</div>

</section>




<section class="izu izu-white page-section" id="section-matbang">

	<div class="container">
		<h2 class="izu-title h1 text-center mb-3" data-animate="fadeInUp" data-delay="0">
			MẶT BẰNG THIẾT KẾ
		</h2>


		<h5 class="text-center font-family-normal font-weight-normal">
			Sun Tower là tòa tháp đẹp nhất trong tổng thể dự án Sky9 của chủ đầu tư N.H.O. Với thiết kế theo phong cách Hàn
			Quốc, các căn hộ tại Sun Tower đều có khả năng đón gió và ánh sáng tự nhiên. Cùng với đó là khả năng tận dụng được
			tối đa diện tích và không hề để xảy ra trường hợp diện thừa giúp cho căn hộ trở nên gọn gàng và ngăn nắp hơn.
		</h5>
	</div>



	<div class="container pt-4">

		<div class="tabs clearfix" id="tab-3">
			<div class="container-bg-blue">
				<div class="text-center">
					<ul class="tab-nav tab-nav2 clearfix d-inline-block">
						<li><a href="#tabs-9">Khu Bắc</a></li>
						<li><a href="#tabs-10">Khu 2</a></li>
						<li><a href="#tabs-11">Khu Đông</a></li>
						<li><a href="#tabs-12">Khu 3</a></li>
					</ul>
				</div>
			</div>

			<div class="tab-container">

				<div class="tab-content clearfix" id="tabs-9">
					<div class="row no-gutters ">
						<div class="col-12 col-lg-6 order-2 order-lg-1">
							<h2 class="font-weight-normal text-center mb-2 text-primary">KHU PHÍA BẮC</h2>
							<img src="images/hero/mau1.png" class="d-block mx-auto img-full" alt="">
							<div class="bg-primary text-white p-4 text-center mb-0">
								Sed quis dignissim nisi. Donec risus dolor, pharetra a nunc quis, varius convallis mauris. Fusce vulputate
								purus a placerat eleifend. Nam ut erat vehicula, vestibulum tellus sed, vulputate magna. Suspendisse vel diam
								sem.
								Aenean aliquam vitae arcu vitae convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
								per inceptos himenaeos.
							</div>
						</div>
						<div class="col-12 col-lg-6 order-1 order-lg-2">
							<h2 class="font-weight-normal text-center mb-2 text-primary">CĂN HỘ MẪU</h2>
							<div class="row justify-content-center">
								{% for item in range(0,3) %}
								<div class="col-auto">
									<div class="lutie" data-toggle="modal" data-target=".bs-example-modal-lg">

										<div class="lutie-img">
											<img src="images/hero/lutie1.jpg" class="img-fluid d-block mx-auto" alt="">
										</div>

										<div class="lutie-content">
											Căn số 11, 12, 13
										</div>
										<div class="lutie-area">
											78.1 m<sup>2</sup>
										</div>

									</div>
								</div>

								{% endfor %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-body">
			<div class="modal-content">
				<div class="modal-header bg-primary ">
					<h4 class="modal-title text-center text-white" id="myModalLabel">Block Amethud - CĂn số 11,12,13</h4>
					<button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">


					<h3 class="text-center">Căn số 11,12,13: 78.1 m<sup>2</sup></h3>

					<div class="row">
						<div class="col-12 col-lg-6">


							<ul class="list-group list-group-flush lutie-list mb-3">
								{% for item in range(0,3) %}
								<li class="list-group-item">
									<div class="row no-gutters">
										<div class="col">Phòng khách</div>
										<div class="col-auto">
											<span class="text-primary">16.53 m<sup>2</sup> </span>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row no-gutters">
										<div class="col">Nhà Bếp</div>
										<div class="col-auto">
											<span class="text-primary">16.53 m<sup>2</sup> </span>
										</div>
									</div>
								</li>

								<li class="list-group-item">
									<div class="row no-gutters">
										<div class="col">Cras justo odio</div>
										<div class="col-auto">
											<span class="text-primary">16.53 m<sup>2</sup> </span>
										</div>
									</div>
								</li>

								{% endfor %}


							</ul>



						</div>
						<div class="col-12 col-lg-6">
							<img src="https://static.ladipage.net/s550x400/5b557ab6325c6245a1909640/76-m2-pk-v1-1534322466.jpg" class="img-fluid d-block mx-auto"
							 alt="">
						</div>
					</div>

					<div class="text-center mt-4">
						<a href="#" class="button button-3d button-large button-rounded button-red">LIÊN HỆ MUA NHÀ</a>
					</div>



					<div class="row no-gutters mt-4" data-lightbox="gallery">
						<div class="col-6 col-md-6">
							<a href="images/modals/modal1.jpg" title="Trung tâm thương mại, mua sắm" subtitle="6 tầng trung tâm thương mại với diện tích lên đến 60000m2"
							 data-lightbox="gallery-item"><img class="image_fade" src="images/modals/modal1.jpg" alt="Gallery Thumb 1"></a>
						</div>
						<div class="col-6 col-md-6"><a href="images/modals/modal1.jpg" title="Trung tâm thương mại, mua sắm" subtitle="6 tầng trung tâm thương mại với diện tích lên đến 60000m2"
							 data-lightbox="gallery-item"><img class="image_fade" src="images/modals/modal1.jpg" alt="Gallery Thumb 1"></a></div>
						<div class="col-6 col-md-12"><a href="images/modals/modal1.jpg" title="Trung tâm thương mại, mua sắm" subtitle="6 tầng trung tâm thương mại với diện tích lên đến 60000m2"
							 data-lightbox="gallery-item"><img class="image_fade" src="images/modals/modal1.jpg" alt="Gallery Thumb 1"></a></div>
						<div class="col-6 col-md-6"><a href="images/modals/modal1.jpg" title="Trung tâm thương mại, mua sắm" subtitle="6 tầng trung tâm thương mại với diện tích lên đến 60000m2"
							 data-lightbox="gallery-item"><img class="image_fade" src="images/modals/modal1.jpg" alt="Gallery Thumb 1"></a></div>
						<div class="col-6 col-md-6"><a href="images/modals/modal1.jpg" title="Trung tâm thương mại, mua sắm" subtitle="6 tầng trung tâm thương mại với diện tích lên đến 60000m2"
							 data-lightbox="gallery-item"><img class="image_fade" src="images/modals/modal1.jpg" alt="Gallery Thumb 1"></a></div>
					</div>





				</div>
			</div>
		</div>
	</div>
</div>


<section class="izu izu-dark amatsu-bg page-section" id="section-chinhsach" style="background-image: url('images/hero/amatsu-bg.jpg')">

	<div class="container">
		<h2 class="izu-title h1 text-center" data-animate="fadeInUp" data-delay="0">
			CHÍNH SÁCH BÁN HÀNG
		</h2>

		<div class="bg-white p-4">

			<h4>NỘI DUNG HERE</h4>

		</div>






	</div>


	<br>
	<br>

	<div class="container ">

		<h2 class="izu-title h1 text-center" data-animate="fadeInUp" data-delay="0">
			TÍNH LÃI VAY
		</h2>

		<div class="row">
			<div class="col-12  col-lg-10  offset-lg-1">
				{% include "layouts/cal.html" %}

			</div>
		</div>

	</div>


	</div>

</section>





<section class="izu ">

	<div class="container">
		<h2 class="izu-title h1 text-center" data-animate="fadeInUp" data-delay="0">
			ĐĂNG KÝ THAM QUAN NHÀ MẪU
		</h2>


		<form class="mb-0">
			<div class="form-row">
				<div class="form-group col-6 col-md-3">
					<input type="email" class="form-control" id="" placeholder="Họ và tên">
				</div>
				<div class="form-group col-6 col-md-3">
					<input type="phone" class="form-control" id="" placeholder="Nhập số điện thoại">
				</div>
				<div class="form-group col-6 col-md-3">
					<input type="email" class="form-control" id="" placeholder="Nhập Email">
				</div>

				<div class="form-group col-6 col-md-3">
					<button type="submit" class="btn btn-primary btn-block">ĐĂNG KÝ NGAY</button>
				</div>
			</div>


		</form>



	</div>

</section>